html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: sans-serif;
}

.serif-font {
  font-family: serif;
}

.sans-serif-font {
  font-family: sans-serif;
}

.mono-font {
  font-family: monospace;
}

.wrapper {
  width: 600px;
  margin: 32px auto 0 auto;
}

.dictionary-icon {
  font-size: 36px;
}

.icon {
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}