html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: sans-serif;
}

.serif-font {
  font-family: serif;
}

.sans-serif-font {
  font-family: sans-serif;
}

.mono-font {
  font-family: monospace;
}

.wrapper {
  width: 600px;
  margin: 32px auto 0 auto;
}

.dictionary-icon {
  font-size: 36px;

}

.dictionary-container {
  position: relative;

  span {
    position: absolute;
    top: -20px;
    right: -10px;
    background-color: blueviolet;
    color: white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;

  }
}


.icon {
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}