.word-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .word {
    font-size: 3.5rem;
    font-weight: bolder;
  }

  .phonetic {
    font-size: 2rem;
    color: $accentColour;
  }

  .play-icon {
    font-size: 60px;
    color: $accentColour;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}